@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    display: flex;
    padding: 0;
    margin: 0;
}
title,script{
    display: none;
}
:root{
    font-family: Roboto;
    --border-grossura: 1px;
}

body{
    width: 100%;
    align-items: center;
    height: 400vh;
    flex-direction: column;
}
nav{
    background-color: #4BE3E0;

    height: 5%;
    width: 100%;
    
    border-bottom: var(--border-grossura) solid black;
}
ul{
    height: 100%;
    width: 40%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
li{
    margin-left: 10%;
    font-size: 1.5rem;
    font-weight: bolder;
    list-style: none;
}




.video-com-logo{
    background-image: url("imgs/fundo-cachoeira.jpg");

}
.video-com-logo h2{
    color: white;    
}


section{
    border-top: var(--border-grossura) solid black;
    border-bottom: var(--border-grossura) solid black;
    margin-bottom: 5rem;
    background-color: #007573;
    width: 100%;
    height: 600px;
    align-items: center;
    justify-content: center;
}
h2{font-size: 3rem;}


h3{width: 20%;}

p{margin-top: 20px;}


article{
    flex-direction: row;
    margin-bottom: 5rem;
    width: 80%;
    height: 400px;
}
.div-carrossel{
    border: 2px solid black;
    height: 100%;
    width: 50%;
    background-color: #007573;
    justify-content: center;
    align-items: center;
    flex:1;
    overflow: hidden;
}

.caixa-carrossel{
    height: 400px;
}

.carrossel-texto{
    padding: 15px;
    width: 50%;
    flex-direction: column;
}



.dicas{
    color: white;
    flex-direction: column;
    border: 6px solid black;
    border-radius: 30px;
    padding: 50px;
    background-color: #007573;
}
#localizacao h2{
    color: white;
}

.section-duvidas{
    flex-direction: column;
}

.section-duvidas h2{
    margin-top: 3rem;
    color: white;
}

.caixa-duvidas{
    margin-top: 5rem;
    width: 100%;
    justify-content: space-around;
}

.article-duvidas{
    width: 22%;
    background-color: white;
    height: fit-content;
    flex-direction: column;
    border: 6px solid black;
    border-radius: 30px;
    padding: 50px;

}

footer{
    color: white;
    flex-direction: row;
    width: 100%;
    margin-top: auto; 
    height: 10%;
    border-top: var(--border-grossura) solid black;
    background-color: #007573;
}

.footer-ul{
    width: 100%;
}

footer li{
    display: 	flex;
    flex-direction: column;
}

address{
    font-size: 15px;
}


/* CARROSSEL */

.carrosel-fotos{
  display: flex;
  height: 400px;
  width: 100%;

  transition: transform 0.5s ease-in-out;
}

.carrosel-fotos img{
    display: none;
    width: 100%;
}

.carrosel-fotos img.active{
    display: block;
}